option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: 'production'
    product: 'https://n9bq5ckn2g.execute-api.us-east-1.amazonaws.com/dev/product'
    cart: 'https://q2qdx5ntu5.execute-api.us-east-1.amazonaws.com/dev/cart'
    product-third-party: 'https://q4d93ib1n7.execute-api.us-east-1.amazonaws.com/dev/product-third-party'

